@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,600;1,600&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #40A2D8;
    --cor-terciaria: #F0EDCF;
    --cor-hover: #ffffff;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-terciaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
    font-size: 1.25rem;
}

.cabecalho__menu__link {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.25rem
    font-weight 400;
    color: var(--cor-secundaria);
    text-decoration: none;
}

.apresentacao {
    padding: 4% 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 50px;
}


.apresentacao__conteudo__texto {
    font-size: 1.125rem;
    font-family: 'Roboto Mono', monospace;
}

.titulo-destaque {
    color: var(--cor-secundaria);
    font-size: 2.25rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
}

.acessar_redes {
    padding: 1%;
    display: flex;
    justify-content: center;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 0.93rem;
    color: var(--cor-secundaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
    border: 2px double var(--cor-secundaria); /* Reduz a largura da borda */
    border-radius: 20px; /* Ajusta o raio da borda */
    background-color: var(--cor-primaria);
    width: 37%; /* Reduz a largura do contêiner */
    text-align: center;
    font-size: 1rem; /* Ajusta o tamanho da fonte */
    padding: 8px 0; /* Ajusta o padding para diminuir a altura */
    text-decoration: none;
    color: var(--cor-secundaria);
}

.apresentacao__links__link:hover {
    background-color: var(--cor-hover);
}

.meu-nome {
    font-family: 'Roboto Mono', monospace;
    color: var(--cor-secundaria);
}

.imagem {
    display: flex;
    justify-content: flex-end;
    border: 14px double var(--cor-secundaria);
    border-radius: 16px;
}

.rodape {
    padding: 5px; 
    color: var(--cor-primaria);
    background-color: var(--cor-secundaria);
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.125rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.centralizado {
    display: flex;
    align-items: center; 
    text-decoration: none; 
    color: inherit; 
}

.centralizado img {
    margin-left: 5px; 
    height: 30px; 
    width: auto;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 4%;
    }

    .apresentacao__conteudo {
        width: auto;
    }
}